/* Sección Skills */

.skills{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: #464646;
    gap: 30px;
}

.skills__title{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills__box{
    display: flex;
    height: 120px;
    width: 120px;    
    flex-grow: 1;
    padding: 0px 0px 20px 20px;
    align-items: end;
    justify-content: start;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.100);
}
.skills__img{
    margin: 10px 0;
}

.skills__name{
    font-weight: 500;
}

/*Tablet*/
@media (min-width: 834px) {

    .skills__box{
        display: flex;
        background-color: white;
        height: 120px;
    }
}

/*Desktop*/
@media (min-width: 1024px) {
    
    .skills__box{
        height: 120px;
        width: 200px;    
        flex-grow: 2;
    }
}